body {
    background: url() repeat-y #FFFFE0 center top;
height:2550px;
}

.block {
background-color:aliceblue;
    width: 90%;
     margin-top: 20px;
    margin-left: 5%;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid silver;
    font-size: 1.1em;
    color: black;
}

.str {
     margin-left: 1%;
    color: darkslategray;
}

#str1 {
     margin-left: 1%;
    color: darkslategray;     
}