<IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteBase /
        RewriteCond %{HTTP_HOST} ^www.ФанСайтРокГрупп.ru
        RewriteRule (.*) htps://ФанСайтРокГрупп.ru/$1 [R=301,L]
        RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /index\.html\ HTTP/
        RewriteRule ^index\.html$ htps://ФанСайтРокГрупп.ru/ [R=301,L]
</IfModule>

ServerSignature off
AddDefaultCharset UTF-8

